

<h2 class="text-center">Title: <%=@article.title %></h2>
<div class="well col-xs-8 col-lg-8 m-auto col-xs-offset-2 bg-light p-4 border border-dark">
  <h4 class="text-center mb-4 d-block"><strong>Description:</strong></h4>
  <%=simple_format(@article.description)%>
  Created by:<%=@article.user.username if @article.user %>
  <div class="article-action">
    <%if user_signed_in? && current_user == @article.user %>
    <%= link_to "edit this article", edit_article_path(@article), class: "btn btn-sm btn-primary" %>
    <%=link_to 'delete', article_path(@article), method: :delete, data:{confirm: "Are you sure"},class: "btn btn-sm btn-danger" %>
    <%end %>
      <%=link_to "View all articles", articles_path, class: "btn btn-sm btn-success" %>
  </div>
</div>

